@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body {
    text-align: center;
    background-image: url(../img/deportes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
    color: #F6F09C;
}

.nonrompus {
    color: whitesmoke;
    font-size: 300%;
    border: none;
    outline: none;
    background: none;
    width: 55px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    float: center;
}

.ring {
    position: absolute;
    bottom: 0;
    left: 50%;
}

#cat {
    display: block;
}

#cat:hover {
    filter: drop-shadow(0 0 5px #f0f);
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header gatosVidas" "main main"
}

.area {
    padding: 0;
    text-align: center;
}


/*Health bar*/

#healthbar {
    width: 150px;
    height: 50px;
    right: 50px;
    top: 16.5px;
    position: absolute;
}

#progressBar {
    top: 25px;
    right: 50px;
    position: absolute;
}


/* Objetos */

#mirror {
    position: absolute;
    top: 200px;
    left: 258px;
    height: 318px;
    width: 187px;
    transition: transform .2s;
}

#mirror:hover {
    transform: scale(1.10);
}

#mat {
    position: absolute;
    bottom: 4px;
    left: 7px;
    height: 180px;
    width: 85px;
    transition: transform .2s;
}

#mat:hover {
    transform: scale(1.10);
}

#ball {
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 110px;
    width: 115px;
    transition: transform .2s;
}

#ball:hover {
    transform: scale(1.10);
}

#bottle {
    position: absolute;
    bottom: 115px;
    right: 290px;
    height: 55px;
    width: 35px;
    transition: transform .2s;
}

#bottle:hover {
    transform: scale(1.10);
}

#dumbbells {
    position: absolute;
    bottom: 1px;
    left: 590px;
    height: 55px;
    width: 80px;
    transition: transform .2s;
}

#dumbbells:hover {
    transform: scale(1.05);
}


/*Parlante*/

#speakeroff {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1;
}

#speakeron {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: -1;
}


/*Jumpscares*/

#jumpscare {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 10;
}


/*Preguntas*/

#bloquePreg {
    position: absolute;
    left: 35%;
    top: 300px;
    width: 600px;
    height: 150px;
    font-family: 'Bree Serif', serif;
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(255, 109, 102, 0.7);
    box-shadow: 6px 7px 10px 1px rgba(0, 0, 0, 0.48);
    display: none;
    z-index: 4;
}

.respuesta {
    font-family: 'Bree Serif', serif;
    width: 30%;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    border-radius: 100px;
    background-color: #ff3d5c;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-width: 0.5px 0.5px 0.5px 0.5px;
    padding: 0px 22px 5px 22px;
    font-size: 16px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.42);
}


/*Flecha win*/

#flecha {
    animation-name: flecha;
    position: absolute;
    bottom: 165px;
    right: 30px;
    width: 105px;
    height: 90px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: scale(1);
    transition: 1s;
    display: none;
}

@keyframes flecha {
    0% {
        transform: translate(0px, -20px) scale(0.8);
    }
    50% {
        transform: translate(0);
    }
    100% {
        transform: translate(0px, -20px) scale(0.8);
    }
}