* { 
    margin: 0;
    padding: 0;
    
}

body { 
    background: pink;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* aca con grid  */

.contenedor { 
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .header 
.contenedor .contenido 
.contenedor .footer { 
    background: powderblue;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header { 
    background: black;
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    padding: 2%;
    font-size: 140%;
}

.contenedor .contenido {
    font-size: 280%; 
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .vinculo { 
    background: #A7D7E3;
    color: black;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    font-size: 290%;
}

.contenedor .footer { 
    background: black;
    color: pink;
    grid-column: span 3;
    text-align: center;
    font-size: 160%;
}

/*.contenedor .correr { 
    grid-column: 1 / -1;
    background: none;
}

@keyframes correr{
    0%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1000px);
    } 
}

.correr{
    animation-name: correr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
*/