body {
    background-image: url("../img/historia/categoryiscatstory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nonrompus {
    color: whitesmoke;
    font-size: 300%;
    border: none;
    outline: none;
    background: none;
    padding: 0px 15px;
    width: 55px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    float: left;
}

#camicat {
    position: fixed;
    bottom: 11%;
    right: 50%;
}

#libros2 {
    position: absolute;
    top: 866px;
    left: 693px;
    height: 440px;
    width: 469px;
    transition: transform .2s;
}

#libros2:hover {
    transform: scale(1.15);
}

#libros1 {
    position: absolute;
    top: 780px;
    right: 1001px;
    height: 400px;
    width: 440px;
    transition: transform .2s;
}

#libros1:hover {
    transform: scale(1.04);
}

#lampara {
    position: absolute;
    top: 9.3%;
    left: 1324px;
    height: 420px;
    width: 500px;
    transition: transform .2s;
}

#lampara:hover {
    transform: scale(1.1);
}

#cuadro {
    position: absolute;
    top: 242px;
    right: 285px;
    height: 385px;
    width: 450px;
    transition: transform .2s;
}

#cuadro:hover {
    transform: scale(1.03);
}

#barco {
    position: absolute;
    top: 660px;
    right: 248px;
    height: 400px;
    width: 460px;
    transition: transform .2s;
}

#barco:hover {
    transform: scale(1.04);
}

.area {
    padding: 0;
    text-align: center;
}


/*Health bar*/

#healthbar {
    width: 150px;
    height: 50px;
    right: 50px;
    top: 16.5px;
    position: absolute;
}

#progressBar {
    top: 25px;
    right: 50px;
    position: absolute;
}


/*Parlante*/

#speakeroff {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1;
}

#speakeron {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: -1;
}


/*Jumpscares*/

#jumpscare {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 10;
}


/*Preguntas*/

#bloquePreg {
    font-family: Arial;
    position: absolute;
    top: 250px;
    left: 1000px;
    width: 500px;
    height: 180px;
    opacity: 0.90;
    font-size: 13px;
    text-align: center;
    color: #FEF8E0;
    background-color: #408DC1;
    background: linear-gradient(90deg, #408dc1 0%, #436fb0 80%);
    display: none;
    z-index: 4;
    box-shadow: 6px 7px 10px 1px rgba(0, 0, 0, 0.48);
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.42);
}

.respuesta {
    backface-visibility: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #fff8f0;
    border-radius: 100px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-width: 0.5px 0.5px 0.5px 0.5px;
    padding: 4px 22px 5px 22px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
    color: #00477D;
    font-size: 16px;
    font-family: Arial;
    font-weight: 900;
    font-style: normal;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.42);
    background: linear-gradient(96deg, #fff8f0 0%, #fef2dc 10%, #fff5da 20%);
}


/*Flecha win*/

#flecha {
    animation-name: flecha;
    position: absolute;
    bottom: 165px;
    right: 30px;
    width: 105px;
    height: 90px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: scale(1);
    transition: 1s;
    display: none;
}

@keyframes flecha {
    0% {
        transform: translate(0px, -20px) scale(0.8);
    }
    50% {
        transform: translate(0);
    }
    100% {
        transform: translate(0px, -20px) scale(0.8);
    }
}